body {
    background-image: url("Login BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    max-width: 375px;
    padding: 20px;
    background-color: rgba(35, 23, 23, 0.7);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    width: 100%;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #892153;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  input[type="submit"]:hover {
    background-color: #bc798d;
  }
  .change-password-link {
    margin-top: 10px;
    text-align: center;
    color: #892153;
    cursor: pointer;
    text-decoration: underline;
  }
  .invalid-credentials {
    color: red;
    text-align: center;
    margin-top: 10px;
  }